@{
    ViewData["Title"] = "My Account";
}
<div class="focusBox focusBox-centered">
    <h2 class="focusBox_title">My Account</h2>
    <passwordless-account>

    </passwordless-account>
</div>
@section scripts {
    <script src="~/passwordless.dist.bundle.js" asp-append-version="true"></script>
}
